@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;500;600;700&display=swap');
:root{
  --main-bg: #0E2338;
  --main-bg1: #FD9800; 
  --bg-info: #00BAC7; 
  --bg-info2: #00ADD2; 
  --bg-primary: #0050C8; 
  --bg-danger: #DF5A21;  
}
a:hover{
  text-decoration: none;
}
body{
  font-family: 'Radio Canada', sans-serif;
  padding: 48px 48px 48px 98px;  
  background: #F1F5F7;
}   
.menu{
  background-color: var(--main-bg);
  position: fixed;
  left: 0;
  top: 0;
  width: 50px; 
  height: 100vh;
  background: #0E2338;
}
.menu .logo{
  height: 50px;
}
.menu .hr{
  height: 15px;
  padding-left: 4px;
  padding-right: 4px;
  position: relative;
}
.menu .hr::after{
  content: "";
  height: 1px;
  margin-left: 4px;
  margin-right: 4px;
  background-color: rgba(255, 255, 255, 0.122206);
  width: calc(100% - 16px);
  position: absolute;
}
.menu ul.bot-fix{
  position: absolute;
  bottom: 0;
}
.menu ul{
  list-style: none;
  padding-left: 1px;
  padding-right: 1px;
}
.menu ul li{
  width: 48px;
  height: 48px;
  background: rgba(255, 255, 255, 0.0001);
  margin-bottom: 8px;
  border-radius: 8px;
  transition: .33s all ease-out; 
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu ul li a{
  font-size: 24px;
  color: #9FA9B5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu ul li.active{
  background: rgba(0, 186, 199, 0.12);
  border-radius: 8px;
}
.menu ul li.active a{
  color: #fff;
}
.menu ul li:hover{
  background: rgba(0, 186, 199, 0.12);
  border-radius: 8px;
}
.menu ul li:hover a{
  color: #fff;
} 
.menu ul li.active:after{
  content: "";
  position: absolute;
  width: 8px;
  height: 36px;
  left: -3px; 
  top: 6px;
  background: #00BAC7;
  border-radius: 5px;
}
.menu ul li.user div{
  width: 36px;
  height: 36px;
  background: linear-gradient(320.51deg, #FFFFFF -24.89%, #00BAC7 73.5%);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.4px;

  color: #FFFFFF;

}
main .icon-top{
  position: relative;
  margin-bottom: 32px;
}
main .icon-top h2{
  padding-left: 64px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px; 
  color: #0E2338; 
  margin-bottom: 0px;
}
main .icon-top h6{
  padding-left: 64px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px; 
  color: #979797; 
  margin-bottom: 0px;
}
main .icon-top .icon{
  position: absolute;
  left: 0;
  width: 48px;
  height: 48px; 
  background: var(--main-bg1);
  box-shadow: 8px 8px 16px rgba(253, 152, 0, 0.16);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #fff;
}
main .icon-top .icon img{
  width: 24px;
  height: 24px;
}
main .nav-tabs1 {
  border-bottom: 0px; 
}
main .nav-tabs1 .nav-item a{
  padding: 18px 32px;
  height: 58px; 
  background: rgba(255, 255, 255, 0.29);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px; 
  color: #6C757D;
  border: 0px;
  border-bottom: 2px solid transparent;
}
main .nav-tabs1 .nav-item a.active{
  background: #FFFFFF;
  border-bottom: 2px solid var(--main-bg1);
  box-shadow: 8px 0px 16px rgba(0, 0, 0, 0.04);
  border-radius: 8px 8px 0px 0px;
}
main .nav-tabs1 .nav-item a:hover{
  background: #FFFFFF;
  border-bottom: 2px solid var(--main-bg1);
  box-shadow: 8px 0px 16px rgba(0, 0, 0, 0.04);
  border-radius: 8px 8px 0px 0px;
}
.nav-tabs1 + .tab-content{
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0px 16px 16px 16px; 
}
.tab-content .tabx1{ 
  padding: 48px 60px; 
}
.type-box{
  padding: 88px 16px 16px; 
  height: 481px; 
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.04);
  border-radius: 8px; 
  margin-bottom: 32px;
  position: relative;
}
.type-box .ribbon{
  padding: 12px 24px;  
  height: 48px;  
  border-radius: 0px 4px 4px 0px;
  position: absolute;
  left: 0;
  top: 16px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px; 
  color: #FFFFFF;
}
.type-box .ribbon.ribbon-info{ 
  background: var(--bg-info2); 
}
.type-box .ribbon.ribbon-primary{ 
  background: var(--bg-primary); 
}
.type-box .ribbon.ribbon-danger{ 
  background: var(--bg-danger); 
}
.type-box .ribbon span{
  position: relative; 
  top: -6px;
}
.type-box .radio-bod {
  padding: 16px;  
  height: 55px; 
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 16px;
}
.type-box .radio-bod .custom-control-input {
  position: relative;
}
.type-box .radio-bod .custom-control-label{ 
  font-family: 'Sarabun', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px; 
  color: #6C757D;
}
.type-box .radio-bod.active{ 
  border: 1px solid var(--bg-info); 
}
.type-box .radio-bod.active .custom-control-label{ 
  color: var(--bg-info);
}
.type-box  .custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: var(--bg-info);
  background-color: var(--bg-info);
} 
.tab-content h5{  
  font-weight: 400;
  font-size: 18px;
  line-height: 22px; 
  color: #000000;
  margin-bottom: 12px;
}
.tab-content .form-search{  
  font-weight: 400;
  font-size: 18px;
  line-height: 22px; 
  color: #000000;
  margin-bottom: 12px;
  height: 45px; 
  background: #FFFFFF;
  border: 1px solid #D9E2EA;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  border-radius: 9px;
}
.tab-content .form-search + .btn{  
  position: absolute;
  right: 0;
  top: 0;
  width: 44px;
  height: 44px; 
  background: #0E2338;
  border-radius: 0px 6px 6px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.enter-property{
  width: 100%;
  padding: 24px 0px 16px;  
  height: 112px; 
  background: #FFFFFF;
  border: 2px dashed #BFBFBF;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
  border-radius: 0px 0px 8px 8px;
  margin-top: -15px;
}
.enter-property h5{
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;  
  color: #000000; 
}
.enter-property h6{
  font-family: 'Sarabun', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;  
  letter-spacing: 0.5px; 
  color: #6C757D; 
}
.enter-property .btn{
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center; 
  color: #FFFFFF;
  width: 91px;
  height: 37px; 
  background: linear-gradient(101.25deg, #0050C8 0.22%, #00BAC7 103.59%); 
  border: 1px solid #FFFFFF;
  box-shadow: 8px 8px 16px rgba(0, 80, 200, 0.16);
  border-radius: 29px;
}
.btn-info{
  background-color: var(--bg-info);
  padding: 6px 24px; 
  height: 45px;  
  box-shadow: 5px 4px 16px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  border: 0px;
}
.btn-info span{
  position: relative; 
  top: 5px;
} 
.btn-back{
  background-color: #9FA9B5;
  padding: 6px 24px; 
  height: 45px;  
  box-shadow: 5px 4px 16px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  border: 0px;
  color: #fff;
}
.btn-back span{
  position: relative; 
  top: 5px;
}













/* 
transition: .33s all ease-out; 
font-family: 'Sarabun', sans-serif;

*/ 